<!-- 328/hello-fat-free/views/home-page.html -->

<!--Fat-Free Directive-->
<include href="views/header.html"></include>

<body>
    <div class="container">
        <h1>Welcome to the GRC Diner</h1>
        <h2>Serving the best burger in Auburn</h2>
        <img id="image" src="images/diner.jpeg" alt="diner picture" width="500" height="500">

        <h3>View Menus</h3>
        <a href="menus/breakfast">Breakfast</a><br>
        <a href="menus/lunch">Lunch</a><br>
        <a href="menus/dinner">Dinner</a><br>
        <a type="button" class="btn btn-primary" href="order1">Place an Order</a>

    </div>

</body>
</html>